src/main/mule/implementation/get-mg2-verification.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-mg2-verification" doc:id="ff2e7d24-1cff-4446-b8e1-1410f2475073" >
		<sqs:read doc:name="Read" doc:id="26266f6c-d8f8-47df-a2f3-e7129a9a935c" config-ref="mg2_SQS_Configuration" maxNumberOfMessages="1" queueUrl="${secure::MG2.Queue Url}" />
		<set-variable value="#[payload[0].receiptHandle]" doc:name="message id" doc:id="c5b66f3e-80cf-4338-8ed0-2e88003b62ca" variableName="msg_id" />
		<ee:transform doc:name="Transform Message" doc:id="94093855-2de8-47fa-9307-b25e9f48810e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var payload1 = read(payload.body[0],"application/json")
---
payload1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0405b6f1-5286-4f3d-a4eb-da59af8d5e56" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="8814692a-90d6-4b85-a6f2-b4c6a94850b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "loan_id": payload.LOAN_ID,
  "user_id": payload.USERID,
  "status": "Accepted",
  "reason": "Approved by MG1 and MG2",
  "amount": payload.LOAN_AMOUNT	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="b584167c-8bd2-4b53-9fe6-677ab3fc5a1c" config-ref="main_http_request" path="/api/mg2-approval"/>
		<ee:transform doc:name="Transform Message" doc:id="6c5889d5-d61c-4a7b-a7d7-f825b68d44b5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="output" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<sqs:delete-message doc:name="Delete message" doc:id="1729d438-15e6-4bfa-a382-7024c4c16f96" config-ref="mg2_SQS_Configuration" receiptHandle="#[vars.msg_id]" queueUrl="${secure::MG2.Queue Url}"/>
		<ee:transform doc:name="Transform Message" doc:id="ff458583-643b-4086-922b-c76b6aba4617" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars."output"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
