src/main/mule/get-loan-status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-loan-status" doc:id="6723bbba-1ad6-4c22-ae4f-6670012d9fc7" >
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="id" doc:id="451a710f-4677-4efa-b586-9967ec7e07d9" variableName="id"/>
		<http:request method="GET" doc:name="Request" doc:id="de333d35-b826-4429-86de-b443d85c40e4" config-ref="main_http_request" path="/api/get-loan-status/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="81f0eb42-6d58-4602-b7bb-2e503f6775a3" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="90a0dbed-80f5-4ffb-9732-a7714defb18b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
