src/main/mule/get-mg1-verification.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-mg1-verification" doc:id="a5d4cb37-c316-4ed6-9e0e-ddb26fb92e58" >
		<sqs:read doc:name="Read" doc:id="4ec79f7c-9fb4-4802-a463-0c98a4104930" config-ref="mg1_SQS_Configuration" maxNumberOfMessages="1" queueUrl="${secure::aws.Queue Url}"/>
		<set-variable value="#[payload[0].receiptHandle]" doc:name="Set Variable" doc:id="483bf663-cbad-4aa7-973c-7aac34af0fc9" variableName="receipt_handle"/>
		<logger level="INFO" doc:name="Logger" doc:id="35d863af-e302-4018-9c27-0a48614ef49a" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="28a2dad9-0895-41c8-b4dd-2d76528c5cb4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="details" ><![CDATA[%dw 2.0
output application/json
var payload1 = read(payload.body[0],"application/json")
---
payload1]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="97a29921-1fd5-46c0-97ed-9de1f796f564" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.details]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6ba61c6a-51a3-4f98-b25b-31d263a64096" message="#[payload]" />
		<choice doc:name="Choice" doc:id="5dc25fdb-adec-40f2-ac0c-ab32d1c263f9" >
			<when expression='#[payload.TYPE == "Personal" and payload.LOAN_AMOUNT &gt;500000]'>
				<ee:transform doc:name="Transform Message" doc:id="b9fe658a-416c-4ef3-b6bb-1b4967f6a9fb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var payload1 = write(payload, "application/json")
---
{
	delaySeconds: 0,
	body: payload1 
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<sqs:send-message doc:name="Send message" doc:id="7044b289-dbbe-4718-8ea7-74ef0ec3b5bd" config-ref="mg2_SQS_Configuration" queueUrl="${secure::MG2.Queue Url}"/>
				<sqs:delete-message doc:name="Delete message" doc:id="e1949671-5efa-4de0-82ab-c5207d37220f" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]"/>
				<ee:transform doc:name="Transform Message" doc:id="8b238f34-d4c4-4019-9baa-773304178ff0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"Loan details passed to further approval"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Home" and payload.LOAN_AMOUNT &gt; 1000000]'>
				<ee:transform doc:name="Transform Message" doc:id="61c8a49b-a8ab-4098-93c7-1b301beb1032">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
var payload1 = write(payload, "application/json")
---
{
	delaySeconds: 0,
	body: payload1 
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<sqs:send-message doc:name="Send message" doc:id="478eba38-9c81-44b9-a092-708e847566f9" config-ref="mg2_SQS_Configuration" queueUrl="${secure::MG2.Queue Url}"/>
				<sqs:delete-message doc:name="Delete message" doc:id="e2eaffe4-1e57-4420-883b-421b69127da5" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="cfd596c1-a0ce-47ac-874a-4c6c6f3d3706" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"Loan details passed to further approval"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Car" and payload.LOAN_AMOUNT &gt; 7000000]'>
				<ee:transform doc:name="Transform Message" doc:id="9ebf1fd6-cda5-4da8-86b9-b337a0f90eea" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var payload1 = write(payload, "application/json")
---
{
	delaySeconds: 0,
	body: payload1 
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<sqs:send-message doc:name="Send message" doc:id="ea18cad3-b1cf-4df6-832c-6f1bd117d7f7" config-ref="mg2_SQS_Configuration" queueUrl="${secure::MG2.Queue Url}"/>
				<sqs:delete-message doc:name="Delete message" doc:id="b68c2785-6892-4ec1-b65c-b2fd1ad5aacf" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="8a541bf6-3381-4f3d-8aec-1d74266c8108" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"Loan details passed to further approval"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Agriculture" and payload.LOAN_AMOUNT &gt;= 200000 and payload.LOAN_AMOUNT &lt;= 400000]'>
				<ee:transform doc:name="Transform Message" doc:id="de8a7636-152d-46eb-8ef9-cacc1b89e217" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var payload1 = write(payload, "application/json")
---
{
	delaySeconds: 0,
	body: payload1 
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<sqs:send-message doc:name="Send message" doc:id="c6b5264d-a9ca-4a43-af93-d231ff1ebdb5" config-ref="mg2_SQS_Configuration" queueUrl="${secure::MG2.Queue Url}"/>
				<sqs:delete-message doc:name="Delete message" doc:id="fedc33b1-392a-4425-9099-56a892f7a1df" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="96c691c2-7b9f-462c-b03a-173104946f54" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"Loan details passed to further approval"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Personal" and payload.LOAN_AMOUNT &lt;= 500000]'>
				<ee:transform doc:name="Transform Message" doc:id="6001a79d-7d74-4149-94f4-6e738d1c7fc4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "loan_id": payload.LOAN_ID,
  "user_id": payload.USERID,
  "status": "Accepted",
  "reason": "Approved by MG1",
  "amount": payload.LOAN_AMOUNT	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="2454dde4-21ae-4e8f-8608-495403443acb" config-ref="main_http_request" path="/api/mg1-approval"/>
				<ee:transform doc:name="Transform Message" doc:id="a2200354-f3f4-4452-a4d1-e0d8facce61e" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="output" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<sqs:delete-message doc:name="Delete message" doc:id="d2c7d97d-4d59-43dd-87d7-e8b323f8b5e6" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}" />
				<ee:transform doc:name="Transform Message" doc:id="6fc3a743-a1e1-43b2-bac5-b3c82bc3f697" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars."output"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Home" and payload.LOAN_AMOUNT &lt;= 1000000]'>
				<ee:transform doc:name="Transform Message" doc:id="978cee20-ce0b-43d1-b511-de23d5e4e691">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "loan_id": payload.LOAN_ID,
  "user_id": payload.USERID,
  "status": "Accepted",
  "reason": "Approved by MG1",
  "amount": payload.LOAN_AMOUNT		
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="8531a483-b2e3-4fac-a8e8-bbd0b2089abb" config-ref="main_http_request" path="/api/mg1-approval"/>
				<ee:transform doc:name="Transform Message" doc:id="ecc8aac1-6a86-4cb6-8199-19851190aa0f" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="output2" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<sqs:delete-message doc:name="Delete message" doc:id="02aae175-1084-4f4d-be68-795ad05c6d08" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="8e292d93-926c-4745-b015-c4c89f4407de" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.output2]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='#[payload.TYPE == "Car" and payload.LOAN_AMOUNT &lt;= 7000000]'>
				<ee:transform doc:name="Transform Message" doc:id="531723cf-2831-41d1-a0b2-e2707776a789" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "loan_id": payload.LOAN_ID,
  "user_id": payload.USERID,
  "status": "Accepted",
  "reason": "Approved by MG1",
  "amount": payload.LOAN_AMOUNT		
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="7694f763-4d5a-4e80-b0fc-96d848d82042" config-ref="main_http_request" path="/api/mg1-approval"/>
				<ee:transform doc:name="Transform Message" doc:id="6465d27c-ac62-46f4-be4c-21988f6df3f5" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="output3" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<sqs:delete-message doc:name="Delete message" doc:id="f9270fa2-764a-4384-b717-aa9a8da691d4" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="773200c1-4f0b-4c59-8ddc-c2e9bee8ff8c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.output3]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="98194621-aa72-4b88-95d7-9fea3223e27a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "loan_id": payload.LOAN_ID,
  "user_id": payload.USERID,
  "status": "Denied",
  "reason": "Loan amount is more than 400000",
  "amount": payload.LOAN_AMOUNT		
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="fe6344a6-5334-4358-88a5-065d3ed6ad4a" config-ref="main_http_request" path="/api/mg1-approval"/>
				<ee:transform doc:name="Transform Message" doc:id="b84c562e-d008-4c30-88fa-0f01f3abc168" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="output4" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<sqs:delete-message doc:name="Delete message" doc:id="61c4e1cb-8563-40d4-9739-0044e93131c1" config-ref="mg1_SQS_Configuration" receiptHandle="#[vars.receipt_handle]" queueUrl="${secure::aws.Queue Url}"/>
				<ee:transform doc:name="Transform Message" doc:id="9441d3d6-889d-4ce4-bbbf-e2f4f9b85452" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.output4]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
